/* ----------------- BOOTSTRAP MODIFIERS ------------ */

/* NAVBAR */
.navbar {
    padding: 0 5%;
}
.nav-link {
    color: rgb(238, 238, 238);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    padding: 1rem;
}
.nav-link:hover {
    background-color: rgb(160, 160, 160);
    color: white;
}

/* ROW */

.row {
    padding: 0;
}

/* ------------------ HTML ELEMENTS MODIFFIERS --------------- */

body, html {
    text-align: center;
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Satisfy', 'Dancing script', sans-serif;
    font-size: 6rem;
    display: block;
}

/* ------------------- CLASS MODIFFIERS --------------------- */

.bg-topo {
    background: url("fundo.jpg");
    background-size: cover;
    color: white;
}
.centralizado {
    text-align: center;
}

.logo-navbar {
    width: 2rem;
}
.logo-top {
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 15%;
    margin: 8rem 0 6rem;
    padding: 1rem;
    width: 6%;
}

.subtitulo-topo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 15rem;
}
.video-intro-div {
    padding-top: 5rem;
    height: 500px;
}

.destaque-light {
    background-color: rgb(233, 233, 233);
    height: fit-content;
    width: 100%;
    padding-bottom: 80px;
}

.estudar-nao-titulo-video {
    margin-bottom: 2rem;
    text-decoration: underline;
}

.float-left-2col {
    float: left;
    width: 45%;
}
.vertical-align {
    margin: 4rem 0;
    text-align: left;
}
.subparagrafos-hr {
    border: 1px solid rgb(4, 71, 73);
    height: 0;
    margin-left: 0;
    margin-top: 1rem;
    width: 25%;
}
.subtitulo-body {
    color: rgb(4, 71, 73);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.subparagrafos-body {
    color: rgb(4, 71, 73);
    line-height: 2;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

/* Carrossel - Itens */

.carrossel-bg {
    background-color: rgb(214, 241, 239);
}
.carrossel-img {
    border-radius: 50px;
    height: 500px;
    margin: 4rem 3% 3%;
    width: 65%;
}

.desafio3-btn {
    border: 3px rgb(3, 59, 61) solid;
    border-radius: 20px;
    color: rgb(3, 59, 61);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 10px auto 4rem;
    padding: 0.5rem;
    width: 55%;
}
.desafio3-btn:hover {
    background-color: rgb(3, 59, 61);
    border-color: rgb(3, 48, 49);
    color: white;
}

/* Desafio dos 3 dias */

.img-desafio {
    border: 4px rgb(3, 59, 61) solid;
    border-radius: 100%;
    margin-top: 50px;
    width: 24%;
}


/* ------------------ ID MODIFFIERS -------------------- */

#fixed-menu {
    position: fixed;
    width: 100%;
    z-index: 5;
}

#title {
    margin-bottom: -10px;
}
#hr-topo {
    border-top: 3px rgb(255, 255, 255) solid;
    width: 15%;
    margin: 15px auto 30px;
}

/* --------------------- RESPONSIVE ---------------------- */

@media all and (max-width: 1200px) {
    
    .logo-top {
        width: 10%;
    }

    .float-left-2col {
        clear: both;
        padding: 2% 10%;
        text-align: center;
        width: 100%;
    }

    .subparagrafos-hr {
        margin: 1rem auto;
    }

    .subparagrafos-body {
        text-align: center;
    }

    .vertical-align {
        text-align: center;
    }

    .intro-video {
        height: 400px;
    }

    .boas-vindas-bg {
        background-color: rgb(233, 233, 233);
    }

    /* SUBPARAGRAFOS */

    
    /* Carrossel */
    
    .carrossel-img {
        height: 40%;
        margin-top: 5rem;
        width: 80%;
    }
    .desafio3-btn {
        width: 70%;
    }
    
}

@media all and (max-width: 800px) {
    
    h1 {
        font-size: 4.5rem;
    }
    
    .subparagrafos-body {
        font-size: 1.5rem;
    }
    
    .subtitulo-topo {
        font-size: 1.6rem;
        padding: 0 10% 15rem;
    }

    .logo-top {
        padding: 0;
        width: 0;
    }

    .intro-video {
        height: 250px;
    }
}
